In [0]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/88/01/a37e827c2d80c6a754e40e99b9826d978b55254cc6c6672b5b08f2e18a7f/pyspark-2.4.0.tar.gz (213.4MB)
    100% |████████████████████████████████| 213.4MB 119kB/s
Collecting py4j==0.10.7 (from pyspark)
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
    100% |████████████████████████████████| 204kB 30.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/cd/54/c2/abfcc942eddeaa7101228ebd6127a30dbdf903c72db4235b23
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.0

In [0]:
from pyspark.ml.fpm import FPGrowth
from pyspark import SparkConf
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [0]:
from google.colab import files
uploaded = files.upload()

Saving sample.txt to sample.txt

In [0]:
# This opens a handle to your file, in 'r' read mode
file_handle = open('sample.txt', 'r')
# Read in all the lines of your file into a list of lines
lines_list = file_handle.readlines()
# Extract dimensions from first line. Cast values to integers from strings.
#cls, rows = (int(val) for val in lines_list[0].split())
# Do a double-nested list comprehension to get the rest of the data into your matrix
my_data = [[int(val) for val in line.split()] for line in lines_list[0:]]

In [0]:
my_data

[[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13],
 [2, 3, 4, 5]]

In [0]:
for x in range(30): 
  print ("(",x,",",my_data[x],")")

( 0 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 1 , [2, 3, 4, 5] )
( 2 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 3 , [2, 3, 4, 5] )
( 4 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 5 , [2, 3, 4, 5] )
( 6 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 7 , [2, 3, 4, 5] )
( 8 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 9 , [2, 3, 4, 5] )
( 10 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 11 , [2, 3, 4, 5] )
( 12 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 13 , [2, 3, 4, 5] )
( 14 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 15 , [2, 3, 4, 5] )
( 16 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 17 , [2, 3, 4, 5] )
( 18 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 19 , [2, 3, 4, 5] )
( 20 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 21 , [2, 3, 4, 5] )
( 22 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 23 , [2, 3, 4, 5] )
( 24 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 25 , [2, 3, 4, 5] )
( 26 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 27 , [2, 3, 4, 5] )
( 28 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] )
( 29 , [2, 3, 4, 5] )

In [0]:
x = [( 0 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] ),
( 1 , [2, 3, 4, 5] ),
     ( 2, [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] ),
( 3 , [2, 3, 4, 5] ),
     ( 4 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] ),
( 5 , [2, 3, 4, 5] ),
      (6 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] ),
     ( 7 , [1, 2, 3, 4] ),
( 8 , [2, 3, 4, 5] ),
     ( 9 , [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13] ),
( 10 , [2, 3, 4, 5] ),
( 11 , [6, 7, 8, 9] )]

In [0]:
from pyspark.ml.fpm import FPGrowth

df = spark.createDataFrame(x, ["id", "items"])

fpGrowth = FPGrowth(itemsCol="items", minSupport=0.5, minConfidence=0.6)
model = fpGrowth.fit(df)

# Display frequent itemsets.
model.freqItemsets.show()

# Display generated association rules.
model.associationRules.show()

# transform examines the input items against all the association rules and summarize the
# consequents as prediction
model.transform(df).show()

+------------+----+
|       items|freq|
+------------+----+
|         [2]|  11|
|      [2, 3]|  11|
|   [2, 3, 4]|  11|
|      [2, 4]|  11|
|         [7]|   6|
|      [7, 6]|   6|
|         [6]|   6|
|         [8]|   6|
|      [8, 7]|   6|
|   [8, 7, 6]|   6|
|      [8, 6]|   6|
|      [8, 9]|   6|
|   [8, 9, 7]|   6|
|[8, 9, 7, 6]|   6|
|   [8, 9, 6]|   6|
|         [3]|  11|
|      [3, 4]|  11|
|         [1]|   6|
|      [1, 2]|   6|
|   [1, 2, 3]|   6|
+------------+----+
only showing top 20 rows

+----------+----------+----------+-----------------+
|antecedent|consequent|confidence|             lift|
+----------+----------+----------+-----------------+
|    [1, 2]|       [3]|       1.0|1.090909090909091|
|    [1, 2]|       [4]|       1.0|1.090909090909091|
|       [3]|       [2]|       1.0|1.090909090909091|
|       [3]|       [4]|       1.0|1.090909090909091|
|    [3, 4]|       [2]|       1.0|1.090909090909091|
| [1, 2, 3]|       [4]|       1.0|1.090909090909091|
|    [1, 4]|       [2]|       1.0|1.090909090909091|
|    [1, 4]|       [3]|       1.0|1.090909090909091|
|       [7]|       [6]|       1.0|              2.0|
|       [7]|       [8]|       1.0|              2.0|
|       [7]|       [9]|       1.0|              2.0|
|    [8, 7]|       [6]|       1.0|              2.0|
|    [8, 7]|       [9]|       1.0|              2.0|
| [1, 2, 4]|       [3]|       1.0|1.090909090909091|
| [1, 3, 4]|       [2]|       1.0|1.090909090909091|
|    [9, 6]|       [8]|       1.0|              2.0|
|    [9, 6]|       [7]|       1.0|              2.0|
|    [2, 4]|       [3]|       1.0|1.090909090909091|
|       [8]|       [7]|       1.0|              2.0|
|       [8]|       [6]|       1.0|              2.0|
+----------+----------+----------+-----------------+
only showing top 20 rows

+---+--------------------+----------+
| id|               items|prediction|
+---+--------------------+----------+
|  0|[1, 2, 3, 4, 6, 7...|        []|
|  1|        [2, 3, 4, 5]|        []|
|  2|[1, 2, 3, 4, 6, 7...|        []|
|  3|        [2, 3, 4, 5]|        []|
|  4|[1, 2, 3, 4, 6, 7...|        []|
|  5|        [2, 3, 4, 5]|        []|
|  6|[1, 2, 3, 4, 6, 7...|        []|
|  7|        [1, 2, 3, 4]|        []|
|  8|        [2, 3, 4, 5]|        []|
|  9|[1, 2, 3, 4, 6, 7...|        []|
| 10|        [2, 3, 4, 5]|        []|
| 11|        [6, 7, 8, 9]|        []|
+---+--------------------+----------+